{%extends "subpage.html"%}
{%block title%}Testing for Success{%endblock%}
{%block page%}sysadmin{%endblock%}
{% block section %}3_sysadmin{% endblock %}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <div id="col1">
    <h2>Testing for Success</h2>
 
    <img src="/static/images/jenkins2.png" alt="Jenkins graphs" width="374" height="249" class="float_right" />
    <p>When setting up servers for deployment, Tamara sets up Jenkins to run tests before pushing code out. In addition, she arranges for the application to notify developers whether their code passes muster (often to the chagrin of the developers). For one open-source charity social-networking project, Tamara set up Jenkins to allow developers to know if their code is kosher.</p>


    {%include "stories/sa_stories.html"%}
    </div>

    <div id="col2">
        <p><img src="/static/images/jenkins.png" width="145" height="228" alt="Jenkins" /></p>
        <p>Jenkins is an open source application for managing 'Continuous Integration' - a critical component
	   of agile sofware development.  'Continuous Integration' means that you have a single location where
	   all software changes are applied.  Automated tests can then be executed on a 
	   regular schedule.  This helps identify defects early in the process when they can be fixed with a 
	   minimum of effort.</p>
    </div>


    <br clear="both"/>
</div>
{%endblock%}
