{%extends "subpage.html"%}
{%block title%}Testing for Success{%endblock%}
{%block page%}sysadmin{%endblock%}
{% block section %}3_sysadmin{% endblock %}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <div id="col1">
    <h2>Testing for Success</h2>
    <p>Server requirements have changed dramatically over the years, with much of the Web moving to the cloud. As the Internet has evolved, so have we. LightCastle uses Amazon Web Services for many of its cloud-based servers. We discuss requirements with clients to determine the right server for the job, keeping in mind everything from how long a server needs to run to whether to use reserved instances, all the while getting the most bang for your buck. Other big-box server providers LightCastle has worked with include Heroku and Linode. We frequently use Linode to monitor AWS instances, keeping our server monitor on a separate network in case of outages.</p>

    <p>When setting up servers for deployment, Tamara sets up Jenkins to run tests before pushing code out. In addition, she arranges for the application to notify developers whether their code passes muster (often to the chagrin of the developers). For one open-source charity social-networking project, Tamara set up Jenkins to allow developers to know if their code is kosher.</p>


    {%include "stories/sa_stories.html"%}
    </div>
    <br clear="both"/>
</div>
{%endblock%}
