#blog_container {
    width: 75%;

    text-align: justify;
    float:left;
    height:auto;
    overflow:hidden;

}


#blog_content_bar {
    width: 20%;
    text-align: right;
    float:right;
    overflow:hidden;
}

a:link {text-decoration: none} 
a:active {text-decoration: none} 

#blog_image_preview {
    float: right;
    overflow:hidden;
    text-align: justify;
    vertical-align: top;
    display: inline-block;
    min-height:375px;
    max-height:375px;
    min-width:50%;
    width:40%;
    text-align:left;
    border-top-style:solid;
    border-top-color:black;
    border-top-width:2px;


}


#first_blog_image_preview {
    float: right;
    overflow:hidden;
    text-align: justify;
    vertical-align: top;
    display: inline-block;
    min-height:375px;
    max-height:375px;
    min-width:50%;
    width:40%;
    text-align:left;

}


hr {
  display:inline-block 
  float:left;
  width:100%;
} 
#post_content {
    overflow:hidden;
    text-align:justify;
    float:right;
    padding-left:5px;
    padding-right:5px;
    display:block;
    border-top-width:2px;
    border-top-color:black;
    border-top-style:solid;

    width:40%;

}



#first_post_content {
    overflow:hidden;
    text-align:justify;
    float:right;
    padding-left:5px;
    padding-right:5px;
    display:block;
    width:40%;

}


.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}
