{%extends 'subpage.html'%}
{%block title%}Amber Benson{%endblock%}
{% block section %}3_about{% endblock %}
{%block page%}about{%endblock%}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <h2>Amber Benson</h2>
    <p> <img src="/static/images/amber.jpg" alt="Amber Benson" width="368" height="491" class="float_left" />

<p>
Amber joined LightCastle in January 2013 after more than fifteen years in the telecommunications industry.  During that time, Amber amassed a unique collection of skills in telecom accounting, expense auditing, carrier network design and costing, regulatory affairs, and contract negotiations.  Amber uses those skills as LightCastle's bookkeeper, tackling all things financial as well as human resources and contractual matters.

In addition to herding cats at LightCastle, Amber also is the owner of GototheMouse.com.  As a lifelong Disney fanatic, Amber enjoys planning magical Disney vacations for kids of all ages to her favorite vacation destination.  In her spare time, she serves as the Treasurer and Fundraising Chair for Staunton Montessori School in Fishersville, Virginia.

Amber lives in Fishersville with her husband, daughter, and four feline children.</p>
</div>
<br clear="both"/>
{%endblock%}

