{%extends 'subpage.html'%}
{%block title%}Kendal Miller{%endblock%}
{% block section %}3_about{% endblock %}
{%block page%}about{%endblock%}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <h2>Kendal Miller</h2>
    <p> <img src="/static/images/kendal.jpg" alt="Kendal Miller" width="368" height="491" class="float_left" />

<p>
Kendal Miller carries a list of accomplishments. He comes to LightCastle by way of Rosetta Stone, where he worked with the product development team on applications like TOTALe and ReFLEX, which are online communities for Rosetta Stone software users. Kendal has recently served as the technical lead for LightCastle's contributions to <a href="http://www.giv2giv.org/">giv2giv.org</a>, an open-source, nonprofit project that aims to make charitable giving an easier, more social activity. While working on that project, he also contributed patches to Rubywrapper for the Neo4j graph database, a nosql solution to tracking relationship in a database. His technical expertise covers Ruby, Ruby on Rails, Javascript, Apache, Passenger and other system adminstration.
<br/>
<br/>
Kendal graduated from James Madison University with a B.S. in Computer Science and a minor in telecommunications in 2008. When not coding, you can probably find Kendal playing computer games, improving the LightCastle fish tank or playing with his two dogs named Sammy and Gracie, who he adopted from the SPCA.
</p>
</div>
<br clear="both"/>
{%endblock%}

