{%extends 'subpage.html'%}
{%block title%}Kevin Radloff{%endblock%}
{% block section %}3_about{% endblock %}
{%block page%}about{%endblock%}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <h2>Kevin Radloff</h2>
    <p> <img src="/static/images/lilsquirrel-square.jpg" alt="Kevin Radloff" width="368" height="491" class="float_left" />

<p>
Kevin Radloff



Kevin Radloff's interest in development started when he tinkered with IRC bots in his late teens. He first wrote code for eggdrop-based IRC bots before moving on to use HTML::Mason, a Perl-based web framework. 

He has been using Ruby on Rails nearly as long as it has existed, picking up the framework two days after it was released. He also has experience with C, C++, Java and Javascript. 

Kevin's favorite project to have worked on was a real-time matchmaking effort to connect two equally matched players in a language learning game using Ruby. 

Kevin hails from a mysterious place that no one knows much about. He is a developer. Aside from those to things, we really don't know that much about him.
</p>
</div>
<br clear="both"/>
{%endblock%}

