{% extends "subpage.html" %}
{% load markup %}
{% load cache %}
{% block title %}The LightCastle Blog{% endblock %}
{% block page%}blog{% endblock %}
{% block section %}2_blog{% endblock %}
{%block level%}2{%endblock%}
{% block content %}

<div id="content_container">
        {{ current_time }}
    <p>
      {% cache 1 allposts %}

      {% for blog in all_posts %}
        {% autoescape off %}
        <center><h2><a href="{% url b_post forloop.counter %}">{{ blog.title }}</a></h2>Published: {{ blog.date }}<br/>Author: {{ blog.author }}<br/></center>
        <br/>
        {{ blog.content|truncatewords:50 }}<br/>
        <br/>
        <hr/>
        <br/>
        {% endautoescape %}
      {% endfor %}
      {% endcache %}

    </p>
</div>
{% endblock %}
