{% extends "subpage.html" %}
{% block title %}The LightCastle Blog{% endblock %}
{% block page%}header_blog{% endblock %}
{% block section %}2_blog{% endblock %}
{%block level%}2{%endblock%}
{% block content %}

<div id="content_container">
    <h2>Our blog</h2>
    <p>
      {% for blog in all_posts %}
        {% autoescape off %}    
        {{ blog.title }}<br/>
        {{ blog.content }}<br/>
        <br/>
        <hr/>
        <br/>
        {% endautoescape %}
      {% endfor %}

    </p>
</div>
{% endblock %}
