{% extends "subpage.html" %}
{% block title %}The LightCastle Blog{% endblock %}
{% block page%}blog{% endblock %}
{% block section %}2_blog{% endblock %}
{%block level%}2{%endblock%}
{% block content %}

<div id="content_container">
    <p>
      {% for blog in all_posts %}
        {{ forloop.counter }}, {{ blog }}
        {% autoescape off %}
        <h2><center><a href="{% url b_post blog %}">{{ blog.title }}</a></center></h2><br/>

        {{ blog.content|truncatewords:50 }}<br/>
        <br/>
        <hr/>
        <br/>
        {% endautoescape %}
      {% endfor %}

    </p>
</div>
{% endblock %}
