{% extends "subpage.html" %}
{% block title %}{{ blog_post.title }} -- The LightCastle Blog{% endblock %}
{% block page%}blog{% endblock %}
{% block section %}2_blog{% endblock %}
{%block level%}2{%endblock%}
{% block content %}

<div id="content_container">
        {% autoescape off %}    
        <center><h2>{{ blog_post.title }}</h2>Published: {{ blog_post.date }}<br/>
        Author: {{ blog_post.author }}</center></h2><br/>
        {{ blog_post.content }}<br/>
        <br/>
        To comment on this blog at wordpress.com, go <a href="{{blog_post.link}}">here</a>.
        <br/>
        <br/>
        <hr/>

        {% endautoescape %}

</div>
{% endblock %}
