{% extends "subpage.html" %}
{% block title %}Contact Us{% endblock %}
{% block section %}2_contact{% endblock %}
{%block level%}2{%endblock%}
{% block page%}contact{% endblock %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" href={{ STATIC_URL }}contact.css />
<head>
   <title>{{ title }}</title>
</head>
{%block content%}
<body>
   <h1>{{ title }}</h1>
   <form method='post' action='/sendMessage'>
       <!-- display the form fields -->
       {{ form.as_p }}
       {% csrf_token %}

       <!-- submit button -->
       <input type='submit' value="send">
   </form>
</body>
{%endblock%}
</html>
