{% extends "main.html" %}
{% block title %} Linux System Administration | Web Development{%endblock %}
<!---
#{set 'moreStyles'}
  #{stylesheet id:'index', media:'screen', src:'index.css' /}
#{/}
-->

{% block content %}

<link rel="stylesheet" href={{ STATIC_URL }}index.css />

<div id="header">
    <div id="header_copy">
      <p>LightCastle offers analysis, development, and administration of complex software systems. We are seasoned professionals with a shared focus on making the world a better place to live.</p>

     <strong><a href="/about/">Learn more about our team.</a></strong><br/><br/>Don't forget to read our latest blog entry <strong><a href="{% url b_post 1 %}">{{ latest_post.title }}</a></strong></p>
    </div>
    <div id = "slider_container">
      <ul class = "bxslider">
        <li><img src="/static/images/ruby.jpg"/></li>
        <li><img src="/static/images/solr.jpg"/></li>
        <li><img src="/static/images/aws.jpg"/></li>
      </ul>
    </div>


</div>


<div id="content_container">
    <div id="indexbox1" class="indexbox">
        <p><strong><a href="/analysis/">Analysis</a></strong></p>
        <p>Cogent Documentation:
	  <ul>
	    <li>Data Modeling</li>
	    <li>System Visualization</li>
	    <li>Roadmaps</li>
	    <li>Requirements Management</li>
	  </ul>
            <a href="/analysis/">Learn more</a>... </p>
        <p><img src="/static/images/index_analysis.jpg" width="258" height="166" /></p>
    </div>
    <div id="indexbox2" class="indexbox">
        <p><strong><a href="/webdev/">Development</a></strong></p>
        <p>Open Source and Custom Development:
	  <ul>
	    <li>Service Oriented</li>
	    <li>Restful Web Services</li>
	    <li>Search Engine</li>
	    <li>Refactoring</li>
	  </ul>
            <a href="/webdev/">Learn more</a>... </p>
        <p><img src="/static/images/index_webdev.jpg" width="258" height="166" /></p>

    </div>
    <div id="indexbox3" class="indexbox">
        <p><strong><a href="/sysadmin/">Administration</a></strong></p>
	<p>
            Linux/Unix System Administration:
	    <ul>
	      <li>Cloud Administration</li>
	      <li>System Monitoring</li>
	      <li>Security Analysis</li>
	      <li>Performance Adjustments</li> 
	    </ul>
	    <a href="/sysadmin/">Learn more</a>... </p>
        <p><img src="/static/images/index_sysadmin.jpg" width="258" height="166" /></p>
    </div>
    <div class="clear_both"></div>
</div>
{% endblock%}
