{% extends "main.html" %}
{% block title %} Linux System Administration | Web Development{%endblock %}
<!---
#{set 'moreStyles'}
  #{stylesheet id:'index', media:'screen', src:'index.css' /}
#{/}
-->
{% block content %}
<link rel="stylesheet" href={{ STATIC_URL }}index.css />

<div id="header">
  
    <div id="header_copy">
      <p>LightCastle offers analysis, development, and administration of complex software systems. We are seasoned professionals with a shared focus on making the world a better place to live.</p>
     <strong><a href="/about/">Learn more about our team.</a></strong></p>
    </div>
</div>


<div id="content_container">
    <p>
      <h3>Check out the latest from our Blog ...</h3>
      {% autoescape off %}
      <center><h2><a href="{% url b_post 1 %}">{{ latest_post.title }}</a></h2>Author: {{ latest_post.author }}</center>
      <br/>
      {{ latest_post.content|truncatewords:50 }}<br/>
      <br/>
      <br/>
      {% endautoescape %}
    </p>


    <div id="indexbox1" class="indexbox">
        <p><strong><a href="/analysis/">Analysis</a></strong></p>
        <p>Cogent Documentation:
	  <ul>
	    <li>Data Modeling</li>
	    <li>System Visualization</li>
	    <li>Roadmaps</li>
	    <li>Requirements Management</li>
	  </ul>
            <a href="/analysis/">Learn more</a>... </p>
        <p><img src="/static/images/index_analysis.jpg" width="258" height="166" /></p>
    </div>
    <div id="indexbox2" class="indexbox">
        <p><strong><a href="/webdev/">Software</a></strong></p>
        <p>Open Source and Custom Development:
	  <ul>
	    <li>Service Oriented</li>
	    <li>Restful Web Services</li>
	    <li>Search Engine</li>
	    <li>Refactoring</li>
	  </ul>
            <a href="/webdev/">Learn more</a>... </p>
        <p><img src="/static/images/index_webdev.jpg" width="258" height="166" /></p>

    </div>
    <div id="indexbox3" class="indexbox">
        <p><strong><a href="/sysadmin/">Administration</a></strong></p>
	<p>
            Linux/Unix System Administration:
	    <ul>
	      <li>Cloud Administration</li>
	      <li>System Monitoring</li>
	      <li>Security Analysis</li>
	      <li>Performance Adjustments</li> 
	    </ul>
	    <a href="/sysadmin/">Learn more</a>... </p>
        <p><img src="/static/images/index_sysadmin.jpg" width="258" height="166" /></p>
    </div>
    <div class="clear_both"></div>
</div>
{% endblock%}
