<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="${_response_encoding}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href={{ STATIC_URL }}contact.css>
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.7.1");
        google.load("jqueryui", "1.8.17");
    </script>
<!---    #{get 'moreScripts' /}-->
</head>

<body>
{% block navbar %}{% endblock %}
{% block content %}{% endblock%}<!---#{doLayout /}-->
<div id="footernav_container">
    <a href="/sysadmin/">System Administration</a> • <a href="/webdev/">Web Development</a> • <a href="/analysis/">Analysis & Documentation</a> • <a href="/about/">About Us</a> • <a class="contact" href="/contact/">Contact Us</a> • <a class="contact" href="http://blog.lightcastletech.com">Blog</a></div>
<div id="footer">© Copyright LightCastle Technical Consulting. All rights reserved.</div>

</body>
</html>
