{% extends "subpage.html" %}
{% block title %}Custom Web Development in Ruby and Java{% endblock %}
{% block page%}webdev{% endblock %}
<link rel="stylesheet" href={{ STATIC_URL }}main.css />

{%block quote%}
<p>"... Dan demonstrated innovation and leadership in designing an
information search and discovery architecture with the latest
technologies that our client thought was absolutely fantastic."</p>
<div class="source"><b>Sue Rowell</b>, <i>PMP, Battelle Memorial Institute</i></div>
{%endblock%}

{% block section %}2_webdev{% endblock %}
{%block level%}2{%endblock%}
{% block content %}

<div id="content_container">
    <h2>Our Craft, Your Ideas. One Solid Solution.</h2>
    <p> <img src="/static/images/birds.jpg" alt="web development" width="368" height="406" class="float_right" />
        We build custom open source solutions and software using leading technologies; what we deliver belongs to you.
        We will usher your existing applications onto mobile platforms and assist in creating your
        online communities.
    </p>
    <h3>Advanced Web Development Services</h3>
    <ul>
       <li>Ruby on Rails&trade; Java, XSLT, JavaScript, and Python Development</li>
       <li>Full-Text Search Functionality, using Solr and Lucene</li>
       <li>Mobile Integration</li>
       <li>Online Community Sites</li>
       <li>Internationalization and e-Commerce Expertise</li>
    </ul>

    <h3>The Method to our Madness</h3>
    <p>We’re mad about Agile development as a philosophy and a pragmatic approach to software development projects.
        Let’s face it--things change. Ideas and strategies evolve, requirements morph, and technology offers unexpected
        results. So that’s why we’re committed to remaining nimble as we provide you visibility into each iteration
        of development, collaborating on your ideas.</p>
    {% include "stories/wd_stories.html" %}

</div>
{% endblock %}
