{% extends "subpage.html" %}
{% block title %}Information Architecture with Solr and Lucene{% endblock %}
{% block section %}3_webdev{% endblock %}
{%block page%}webdev{%endblock%}
{%block level%}3{%endblock%}
{% block content %}
<div id="content_container">
    <h2>Rails development for social giving website Giv2giv</h2>
    <div id="col1">
         <p>Giv2giv is a nonprofit that aims to make charitable giving a more social activity. When it needed to get a working prototype up and running, LightCastle was their go-to shop.

The LightCastle team helped create several first-iteration, proof-of-concept RESTful apis establishing basic functionality and testing out technologies best suited to the task. LightCastle also set up continuous integration tests that ran each time new code was pushed to the codebase, ensuring a developer knew if his or her code was working as intended.</p>
<p>

 One example of a tool they brought to bear is Jenkins, a Continuous Integration framework. Through some creative scripting, Jenkins performed automated testing on each github commit, and report results in another tool, the giv2giv development team's BaseCamp Campfire chat room. Future efforts include further scripting to push github commits to the production environment upon successful Jenkins test completion. 

It is through use of a number of successful tools like Jenkins that LightCastle has helped move the giv2giv platform development forward with confidence and coordination. From direct experience of real-world problems creatively solved, I highly recommend LightCastle Technical Consultants.</p>
        <p>&mdash;</p>
        {% include "stories/wd_stories.html" %}
    </div>
    <div id="col2">
        <p><div class="quote"></div><i>Giv2giv was looking for a knowledgeable software design firm to take us from a standing-start to a working prototype, and we ultimately chose LightCastle Tech. Their expertise extended from software development to the infrastructure required to coordinate and deploy a ... team of products."</i></p>
        <b>Michael Blinn</b>, <i>Management Team, Giv2giv.org</i>
    </div>
    <div class="clear_both"></div>

</div>
{% endblock %}
