{%extends "subpage.html"%}
{%block title%}Detailed, Step by Step Documentation{%endblock%}
{% block section %}3_analysis{% endblock %}
{%block page%}analysis{%endblock%}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <div id="col1">
    <h2>Clear, Detailed, Step-by-Step Documentation</h2>
    <p>While working for nTelos, Tamara helped prepare the company's data center for an electrical system upgrade by generating methods of procedure to document hardware and software processes and prevent disruptions to the system. Working with coworkers and customers, Tamara held one-on-one and group meetings to determine the required steps, following up with practice runs of the procedures she created, going so far as to test the time it takes to check whether a cable is secure. Her step-by-step documentation included requirements for a handful of operating systems, including Solaris, SCO and various Linux distributions, each with a specialized procedure to properly take down the server.
    </p>
    {%include "stories/doc_stories.html"%}
    </div>
    <br clear="both"/>
</div>
{%endblock%}
