{%extends "subpage.html"%}
{%block title%}Project Planning{%endblock%}
{% block section %}3_planning{% endblock %}
{%block page%}planning{%endblock%}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <h2>Project Planning</h2>
    <div id="col1">
        <p><img src="/static/images/project_planning.png" style="float:right"/>

</p>
        {%include "stories/doc_stories.html"%}
    </div>

    <div id="col2">
    <p>This is the side bar, do something nice here why don't ya?</p>
    <div class="clear_both"></div>

</div>
{%endblock%}
