{%extends "subpage.html"%}
{%block title%}Project Planning{%endblock%}
{% block section %}3_planning{% endblock %}
{%block page%}planning{%endblock%}
{%block level%}3{%endblock%}
{%block content%}
<div id="content_container">
    <h2>Project Planning</h2>
    <div id="col1">
        <p><img src="/static/images/project_planning.png" style="float:right"/>

The diagram to the right is taken directly from a past project, but the terms, timelines, etc... are modified to protect the company's internal information.    This diagram shows a three month roadmap from June to August.  It covers four three week sprints, and three iterative releases of the company's core product.  The team covered is the “services” team, a core group within the company whose efforts impact other teams and other deliverables throughout the company.   The purpose of this diagram was to provide other teams and departments with a concise view of the “services” teams goals and objectives.  </p>

<p>LightCastle has a wealth of experience in agile software development practices. We have managed Kanban based projects, rigorously applied Scrum, and handled myriad of compromises in between.</p>

<p>Our methodology for agile project management mirrors our software architecture methods.  Our efforts focus on transparency and clarity for all affected parties.  From executives to quality assurance, from project management to conjoined development teams, everyone needs a clear picture of goals, timelines, and deliverables. </p>
        {%include "stories/doc_stories.html"%}
    </div>

    <div id="col2">
    <p>This is the side bar, do something nice here why don't ya?</p>
    <div class="clear_both"></div>

</div>
{%endblock%}
